# Default
.*
!.gitignore

# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store

# Test Data
test_data/**/d3plot*
test_data/**/binout*

# LS PrePost
*.cfile
*.db
*.msg

# VS Code
compile_commands.json